/**
 * Grid
 * Minimal grid system with auto-layout columns
 */
 .grid {
  grid-column-gap: calc(var(--soen-grid-column-gap) / 2);
  grid-row-gap: var(--soen-grid-row-gap);
  display: grid;
  grid-template-columns: 1fr;
 }
 @media (min-width: 768px) {
  .grid {
    /* 10 columns */
    /* grid-template-columns: repeat(auto-fit, minmax(calc(100%/9), 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(0, calc(100%/12)));
    /* grid-template-columns: repeat(auto-fit, minmax(0%, 1fr)); */
  }
}
.grid > * {
  min-width: 0;
}